
#meal-fullmeal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    margin: auto;
    max-height: 70vh;
    overflow: auto;
}


.full-meal-header {
    margin-bottom: 2%;
}

.meal-functionalities {
    align-self: flex-end;
    cursor: pointer;
}

#edit-functionalities {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 10%;
    padding: 0 1%;
}

#edit-functionalities i {
    cursor: pointer;
}


.meal-content {
    height: 25%;
    padding: 2%;
    border: 2px solid rgba(128, 128, 128, 0.562);
    border-radius: 10px;
    overflow: auto;
    white-space: pre-line;
}


.editable {
    border: 2px dashed gray;
    content: editable;
    outline: none;
    cursor: text;
}

#menu:empty:before {
    content: "No hay ningún menú";
    color:gray
}
#comments:empty:before {
    content: "No hay ningún comentario";
    color:gray
}