
#patient-registers-container {
    width: 90%;
    height: 90%;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    border-radius: 20px;
    margin: auto;
    overflow: auto;
}

#patient-registers-container h3 {
    text-align: center;
    border-bottom: solid thick rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    padding-bottom: 1%;
    box-sizing: border-box;
    margin-bottom: 1%;
}

#patient-registers-list {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    grid-auto-rows: 5vw;
    gap: 2em 6em;
    justify-content: center;
    align-items: center;
}

.disorder {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.6em;
}

.disorder i {
    font-size: 0.8em;
    margin: 0.4em;
}

.button {
    position: absolute;
    right: 5%;
    display: flex;
    background-color: #0d86f8b3;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.disabled {
    background: #808080b3;
    cursor: pointer;
}

.invalid {
    background: #d40000b3;
    cursor: not-allowed;
}

/* @media screen and (max-width: 1366px) {
    #patient-registers-list {

    }
}
 */


@media screen and (max-width : 768px) {
    #patient-registers-list {
        grid-template-columns: 1fr;
        gap: 1.5em;
        padding: 5%;
    }
}