
<div id="patient-registers-container" class="container-element blue-accent">
    <div (click)="goBack()" class="back_button">
        <i class="fa fa-arrow-left"></i>
    </div>

    <h3>Lista de patologias</h3>

    <div id="patient-registers-list">
        <div [ngClass] = "'disorder'" *ngFor="let disorder of disorders">
            <div>
                <!--Remove the disorder.info... in database there will only be disorder.type-->
                {{disorder.type}}
            </div>
            <div (click)="loadRegisters(disorder)" 
            [ngClass]="{
                button: true,
                disabled: !disorder.registerID && disorder.family !== 'Other',
                invalid: !disorder.registerID && disorder.family === 'Other'
            }"
            >
                <i class="fa fa-table"></i>
            </div>
        </div>
    </div>
</div>