


.back_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #c2bdbd;
    font-size: 1.4em;
    cursor: pointer;
    transition: width 1s, height 1s;
}

.back_button:hover {
    width: 35px;
    height: 35px;
}


#disorders {
    border: 2px solid black;
}

.disorder {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    background-color: #0d86f8b3;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.disabled {
    background: #808080b3;
    cursor: pointer;
}

.invalid {
    background: #d40000b3;
    cursor: not-allowed;
}