
<div (click)="goBack()" class="back_button">
    <i class="fa fa-arrow-left"></i>
</div>
<h1>Buscador</h1>
<form #form="ngForm" (ngSubmit)="submit(form.value)">
    <label for="search_username"></label>
    <input type="text" id="search_username" name="u" ngModel >
    <label for="search_email"></label>
    <input type="text" id="search_email" name="e" ngModel>
    Filter:
    <input type="radio" id="search_any" value="any" name="t" ngModel><label for="search_any">Cualquiera</label> 
    <input type="radio" id="search_patient" value="patient" name="t" ngModel><label for="search_patient">Patient</label> 
    <input type="radio" id="search_center" value="center" name="t" ngModel><label for="search_center">Centro</label>
    <button type="submit">Buscar</button>
</form>

<div>
    <div *ngFor="let user of users">
        {{user.username}} | {{user.email}} | {{user.utype}}
        <i class="fas fa-plus" (click)="sendRequest(user.userID)"></i>
    </div>
</div>

<h1>Impedir que con el any tambien bajen los que son de nuestro tipo de usuario</h1>