
<div id="medic-search-container" class="container-element purple-accent">
    <div (click)="goBack()" class="back-button">
        <i class="fa fa-arrow-left"></i>
    </div>
    <h3>Buscador</h3>
    <div class="search-subcontainer">
        <div id="search-form-container">
            <form #form="ngForm" (ngSubmit)="submit(form.value)">
                <div class="form-group">
                    <label for="search_username">Nombre de usuario</label>
                    <input type="text" id="search_username" name="u" ngModel placeholder="Nombre de usuario"
                        class="form-control">
                </div>

                <div class="form-group">
                    <label for="search_email">Correo electrónico</label>
                    <input type="email" id="search_email" name="e" ngModel placeholder="email" class="form-control">
                </div>

                Filter:
                <div class="form-check">
                    <input type="radio" id="search_any" value="any" name="t" ngModel class="form-check-input">
                    <label for="search_any" class="form-check-label">Cualquiera</label>

                </div>
                <div class="form-check">
                    <input type="radio" id="search_patient" value="patient" name="t" ngModel class="form-check-input">
                    <label for="search_patient" class="form-check-label">Pacientes</label> 
                </div>
                <div class="form-check">
                    <input type="radio" id="search_center" value="center" name="t" ngModel class="form-check-input">
                    <label for="search_center" class="form-check-label">Centros</label>
                </div>
                <button class="btn btn-primary mt-4 w-100" type="submit">Buscar</button>
            </form>
        </div>

        <div id="search-results-container">
            <div *ngFor="let user of users" class="user-search-result">
                <i class="fas fa-plus" (click)="sendRequest(user.userID)" *ngIf="user.utype !== 'medic'"></i>
                {{user.username}} | {{user.email}} | {{user.utype}}
            </div>
        </div>
    </div>
</div>