

#general-login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    border-radius: 20px;
    margin: auto;
}

#general-login-container h1{
    color: #5a5656;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #7503df !important;
    border: none;
}

.btn-primary:hover {
    background-color: #8846d8 !important;
}

.links-section {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    position: fixed;
    bottom: 5%;
    right: 0;
    cursor: pointer;
    font-size: 1.2em;
    box-sizing: border-box;
}

.links-section > div {
    border-bottom: 1px solid #ffffff00;
}

.links-section > div:hover {
    color: #7139b6;
    border-bottom-color: #7139b6;
    box-sizing: border-box;
}