
#medicines-list-container {
    width: 75%;
    margin: auto;
}

#patient-medicines-container {
    width: 90%;
    min-height: 93vh;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    margin: auto;
}

#patient-medicines-container h3 {
    text-align: center;
    border-bottom: solid thick rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    padding-bottom: 1%;
    box-sizing: border-box;
    margin-bottom: 1%;
}

.medicines-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    position: absolute;
    right: 10%;
    font-size: 2vw;
}

.medicines-actions i{
    cursor: pointer;
}

#patient-medicines-list {
    margin-top: 4%;
    height: calc(0.7 * 93vh);
    border: solid 2px gray;
    border-radius: 20px;
    padding: 1%;
    box-sizing: border-box;
}