<div id="privacy-notes-container">
    <i class="fas fa-home" (click)="goToHome()"></i>
    <article>
        <h2>Aplicación Web</h2>
        <p>
            Para llevar a cabo la identificación de usuarios esta aplicación solicita el 
            nombre y el correo electrónico del usuario al momento de darse de alta, 
            aunque pueden ser modificados en cualquier momento desde dentro de la aplicación web. <br>
            Por lo que respeta a las contraseñas, todas ellas son encriptadas al momento del registro
            o de su modificación por lo que ningun desarrollador ni persona que tenga acceso a la base de datos
            tiene forma de poder conocer la contraseña de ningún usuario. <br>
            Al hacer uso de la aplicación el usuario acepta almacenar sus datos de dietas, medicamentos, rutinas de ejercicios
            y registros de patologias (niveles de azucar, presión sanguinea, por ahora). <br>
            Estos datos serán unicamente accesibles por el propio usuario que los ha almacenado 
            y otros usuarios, medicos y centros hospitalarios, con los que el usuario haya decidido establecer una relación
            mediante el envío de una petición de relación o la aceptación de una petición entrante. <br>
            Para garantizar la seguridad de todos los usuarios que usan esta aplicación, los usuarios médicos
            y centros hospitalarios (quienes pueden consultar información de los usuarios pacientes)
            unicamente pueden ser creados por el desarrollador de la aplicación o por los usuarios 
            centros hospitalarios, en el caso de querer registrar un médico. <br>

            El desarrollador se compromete a no compartir en ningún momento los datos
            introducidos por los usuarios ni a modificarlos con fines maliciosos, por lo que 
            queremos compremeternos a trabajar de forma ética y profesional con todos los datos. <br>

            En el caso de querer eliminar datos, el usuario paciente (quien los introduce)
            es plenamente capaz de hacerlo desde
            el entorno web y estos quedarán plenamente eliminados de la aplicación, por lo que no se guardará
            ningun tipo de datos para otros fines. <br>
            En el caso de querer eliminar el perfil de usuario o solicitar ayuda para eliminar los datos de usuario,
            el desarrollador se compromete a llevarlo a cabo lo más pronto posible y eliminando de forma
            definitiva todos los datos. <br>
            
        </p>

        <h2>Skill de Alexa</h2>
        <p>
            Por lo que respecta a la privacidad de la skill de Alexa, esta solicitará acceso al correo eléctronico
            del usuario para poder identificarlo dentro de la aplicación web Helke. <br>
            Posteriormente el usuario podrá realizar consultas a sus planes de dietas, medicamentos, actividades físicas
            y crear registros para sus patologías, de la misma forma que lo haria desde la aplicación web
            pero mediante voz, para facilitar la interactividad y también ofrecer una interfaz mas amigable
            para las personas de mayor edad. <br>
            La skill de Alexa no almacena ninguna información del usuario y todo ha sido desarrollado 
            teniendo en cuenta la privacidad y la ética, de la misma forma que se ha hecho con la aplicación web. <br>
            Finalmente, si un usuario desea borrar la skill de su dispositivo no quedará ningun rastro. Posteriormente
            este podria borrar su perfil de la aplicación Helke como se detalla en el apartado web anterior.
        </p>
        <footer>
            <p>
                Aplicación desarrolada para el Trabajo de Fin de Grado de Albert Baiges. <br>
                Desarrollada y mantenida únicamente por Albert Baiges.
            </p>
        </footer>
    </article>
</div>