<div id="privacy-notes-container" class="container-element">
    <i class="fas fa-home" (click)="goToHome()"></i>
    <article>
        <h2>Skill de Alexa</h2>
        <h3>Privacidad</h3>
        <ul>
            <li>
                La skill de Alexa solicita acceso al correo eléctronico únicamente con fines identificativos del usuario
                dentro de la red Helke. Por lo que el acceso a este es un factor necesario para poder utilizar la skill.
            </li>
            <li>
                La skill no solicitará acceso a ningún otro dato del usuario dado que no son necesarios ni requeridos.
            </li>
            <li>
                La skill de Helky está sujeta a todas las políticas de privacidad de datos y en ningún momento
                tratará de identificar al usuario para realizar ningún seguimiento.
            </li>
            <li>
                Ninguna de las funcionalidades de Helky ofrece información de los usuarios a terceros ni será
                tratada con fines lucrativos.
            </li>
            <li>
                La inserción de información desde la aplicación web y que puede ser consultada desde la skill de Alexa
                es puede ser llevada unicamente a cabo por el propio usuario o por otro miembro de la red Helky 
                a quién el usuario propietario haya decidido darle permisos.
            </li>
            <li>
                La skill Helky ha sido desarrollada en todo momento teniendo en cuenta la privacidad de los datos del usuario
                y la ética que conlleva crear una aplicación, y el manejo de datos de salud.
            </li>
            <li>
                Dado que toda la red Helky forma parte del trabajo final de grado del desarrollador, toda la información
                almacenada será tratada únicamente con fines educativos.
            </li>
        </ul>
        <h2>Aplicación Web</h2>
        <p>
            Para llevar a cabo la identificación de usuarios esta aplicación solicita el 
            nombre y el correo electrónico del usuario al momento de darse de alta, 
            aunque pueden ser modificados en cualquier momento desde dentro de la aplicación web. <br>
            Por lo que respeta a las contraseñas, todas ellas son encriptadas al momento del registro
            o de su modificación por lo que ningún desarrollador ni persona que tenga acceso a la base de datos
            tiene forma de poder conocer la contraseña de ningún usuario. <br>
            Al hacer uso de la aplicación el usuario acepta almacenar sus datos de dietas, medicamentos, rutinas de ejercicios
            y registros de patologías (niveles de azúcar, presión sanguínea, por ahora). <br>
            Estos datos serán unicamente accesibles por el propio usuario que los ha almacenado 
            y otros usuarios, médicos y centros hospitalarios, con los que el usuario haya decidido establecer una relación
            mediante el envío de una petición de relación o la aceptación de una petición entrante. <br>
            Para garantizar la seguridad de todos los usuarios que usan esta aplicación, los usuarios médicos
            y centros hospitalarios (quienes pueden consultar información de los usuarios pacientes)
            unicamente pueden ser creados por el desarrollador de la aplicación o por los usuarios 
            centros hospitalarios, en el caso de querer registrar un médico. <br>

            El desarrollador se compromete a no compartir en ningún momento los datos
            introducidos por los usuarios ni a modificarlos con fines maliciosos, por lo que 
            queremos comprometernos a trabajar de forma ética y profesional con todos los datos. <br>

            En el caso de querer eliminar datos, el usuario paciente (quien los introduce)
            es plenamente capaz de hacerlo desde
            el entorno web y estos quedarán plenamente eliminados de la aplicación, por lo que no se guardará
            ningún tipo de datos para otros fines. <br>
            En el caso de querer eliminar el perfil de usuario o solicitar ayuda para eliminar los datos de usuario,
            el desarrollador se compromete a llevarlo a cabo lo más pronto posible y eliminando de forma
            definitiva todos los datos. <br>
            
        </p>
        <footer>
            <p>
                Aplicación desarrollada para el Trabajo de Fin de Grado de Albert Baiges. <br>
                Desarrollada y mantenida únicamente por Albert Baiges.
            </p>
        </footer>
    </article>
</div>