

<div id="generic-tracking-container">
    <i class="fas fa-chevron-left move-month move-prev" (click)="previousMonth()"></i>
    <div id="generic-calendar-container">
        <table class = "calendar">
           <caption>{{monthNames[currentMonth - 1] + " " + currentYear}}</caption>
           <thead>
               <tr>
                   <th *ngFor="let day of weekdays">{{day}}</th>
               </tr>
           </thead>
           <tr *ngFor="let week of register.data; let weekNum = index">
               <td *ngFor="let day of week; let dayNum = index" (click)="openEditModal(day, weekNum, dayNum)">
                   {{day.number}}
                   <ng-container *ngIf="day.logs">
                       <div *ngFor="let register of day.logs" 
                       [ngClass]="{
                           'prior-meal': register.at === 'prior meal',
                           'post-meal': register.at === 'post meal',
                           'prior-activity': register.at === 'prior activity',
                           'post-activity': register.at === 'post activity',
                           'other': register.at === 'other'
                           }"
                       >
                           {{register.timestamp | date: "shortTime"}} - {{register.data}}mg/dl
                       </div>
                   </ng-container>
               </td>
           </tr>
       </table>
    </div>
   <i class="fas fa-chevron-right move-month move-next" *ngIf="date.getMonth() + 1 !== currentMonth" (click)="nextMonth()"></i>
</div>