

<div id="generic-tracking-container" *ngIf="register.stamp">
    <i class="fas fa-chevron-left move-month move-prev" *ngIf="currentMonth > 1 && currentYear >= 2021" (click)="previousMonth()"></i>
    <div id="generic-calendar-container">
        <table class = "calendar">
           <caption> {{disorder | titlecase}} - {{monthNames[currentMonth - 1] + " " + currentYear}}</caption>
           <thead>
               <tr>
                   <th *ngFor="let day of weekdays">{{day}}</th>
               </tr>
           </thead>
           <tr *ngFor="let week of register.data; let weekNum = index">
               <td *ngFor="let day of week; let dayNum = index" (click)="openEditModal(day, weekNum, dayNum)">
                   <div class="generic-tracking-cellcontent"
                   [ngClass]="{'disabled-cell': day.number === 0}"
                   >
                       <div class="generic-tracking-daynumber" *ngIf="day.number !== 0">
                           {{day.number}}
                        </div>
                        <div class="generic-tracking-day-logs">
                            <ng-container *ngIf="day.logs">
                                <div *ngFor="let register of day.logs" 
                                class="generic-tracking-day-log"
                                [ngClass]="{
                                    'prior-meal': register.at === 'prior-meal',
                                    'post-meal': register.at === 'post-meal',
                                    'prior-activity': register.at === 'prior-activity',
                                    'post-activity': register.at === 'post-activity',
                                    'other': register.at === 'other'
                                }"
                                >
                                {{register.timestamp | date: "shortTime"}} - {{register.data}}
                                {{
                                    disorderFamily === "diabetes" ? "mg/dl" :
                                    disorderFamily === "blood pressure" ? "mmHg" : ""
                                }}
                                </div>
                            </ng-container>
                        </div>
                    </div>
               </td>
           </tr>
       </table>
    </div>
   <i class="fas fa-chevron-right move-month move-next" *ngIf="date.getMonth() + 1 !== currentMonth" (click)="nextMonth()"></i>
</div>