
#warn {
    position: relative;
    padding: 5%;
}

.closeWindow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 5%;
    right: 5%;
    font-size: 1.8em;
    border-radius: 50%;
    transition: background-color 1s;
    cursor: pointer;
}

.closeWindow:hover {
    background-color: #d6d3d3af;
}

#warn > p {
    font-size: 1.4em;
}

#warn > p:first-of-type > span {
    font-style: italic;
}

#warn > p:first-of-type {
    margin-top: 8%;
}


#warn > #buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.button {
    padding: 2% 5%;
    border-radius: 5%;
    font-size: 1.6em;
    cursor: pointer;
}

.afirmative {
    background: #6fcc6f;
}

.negative {
    background: #cc6f6f;
}