
<div id="edit-medicines-plan-container">
    <div class='modal-header'>
        <h3>Medicamentos Semanales - {{dayMedicines.day | titlecase}}</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
    </div>
    <div *ngFor="let medicine of dayMedicines.medicines">
        {{medicine.at}}: {{medicine.data.name}}
    </div>
    <button (click)="submit()">Aplicar cambios</button>
    <div id="search-medicines-container">
        <h4>Añadir medicamentos</h4>
        <div id="dropdown-select">
            <ng-multiselect-dropdown
                [placeholder]="'Selecciona Medicamento'"
                [settings]="dropdownSettings"
                [data]="medicines"
                [ngModel]="[]"
                (onSelect)="select($event)">
            </ng-multiselect-dropdown>
            
            <div *ngIf="medicineSlot.medicine">
                <timepicker [(ngModel)]="selectedHour" [showSeconds]="true" [showMeridian]="false"></timepicker>
                <button (click)="addHour()">Añadir hora</button>
                <h6>Horas Seleccionadas Actual</h6>
                <ng-template #noHours>
                    <div>Sin horas asignadas</div>
                </ng-template>
                <ng-container *ngIf="medicineSlot.at.length !== 0 else noHours">
                    <div *ngFor="let hour of medicineSlot.at; let index = index">
                        <i class="fas fa-times" (click)="removeHour(index)"></i>
                        {{hour}}
                    </div>
                </ng-container>

                <button (click)="addToCalendar()">Añadir al calendario</button>
            </div>
            <img *ngIf="previewImage" [src]="previewImage" alt="Imagen no disponible">
        </div>
    </div>