
#edit-medicines-plan-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 2% 2% 1%;
    border-top-style: solid;
    border-top-width: 10px;
    margin: auto;
    overflow: auto;
}

#edit-medicines-list-container {
    height: 30%;
    width: 90%;
    margin: auto;
    border: solid 1px gray;
    overflow: auto;
    padding: 2%;
}

.medicine-assigned-hour {
    margin: 2% 0;
}

.medicine-assigned-hour:hover {
    background: lightgray;
}


.medicine-assigned-hour i {
    margin-right: 5%;
    cursor: pointer;
}

.medicine-assigned-hour i:hover {
    color: red;
}

#search-medicines-container {
    margin-top: 4%;
    padding: 0 2%;
    height: 50%;
}

#export-medicines-container {
    margin-top: 4%;
    padding: 0 2%;
    height: 50%;
}

#dropdown-select-container {
    position: relative;
    margin-top: 2%;
    height: 85%;
}

.adding-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    height: 80%;
}

.adding-container .edit-medicines-timepicker-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 45%;

}


.adding-container .edit-medicines-timepicker-container div{
    display: flex;
    align-items: center;
}


.adding-container .edit-medicines-hours-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 2%;
}

.adding-container .edit-medicines-hours-container .added-hours-container{
    padding: 2% 5%;
    height: 75%;
    margin-bottom: 2%;
    border: 1px solid gray;
    overflow: auto;
    box-sizing: border-box;
}


.added-hour {
    margin: 2% 0;
}



