

<div>
    <div (click)="goBack()" class="back-button">
        <i class="fa fa-arrow-left"></i>
    </div>
    <ng-template #noMedics>
        <div id="noMedics">
            Ningun medico asignado
        </div>
    </ng-template>

    <accordion [isAnimated]="true" *ngIf="centerIDs">
        <accordion-group *ngFor="let center of centers" [heading]="center.username"
        [panelClass]="'medic-panel'">
            <p>
                Email: {{center.email}}
                Center: {{center.center}}
            </p>
        </accordion-group>
    </accordion>
</div>