

<div>
    <div (click)="goBack()" class="back-button">
        <i class="fa fa-arrow-left"></i>
    </div>
    <ng-template #noMedics>
        <div id="noMedics">
            Ningun medico asignado
        </div>
    </ng-template>
    
    <ng-container *ngIf="centerIDs">
        <div id="medics-container" *ngIf="centers.length !== 0 else noMedics">
            <div class="medic" *ngFor="let center of centers"> 
                {{center.username}} {{center.email}} {{center.center}}
            </div>
        </div>
    </ng-container>
</div>