

#patient-centers-container {
    width: 90%;
    min-height: 93vh;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    margin: auto;
    overflow: auto;
}

#patient-centers-container h3 {
    text-align: center;
    border-bottom: solid thick rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    padding-bottom: 1%;
    box-sizing: border-box;
    margin-bottom: 1%;
}

#patient-centers-list {
    margin-top: 2%;
    height: 80%;
    padding: 0 10%;
    overflow: auto;
}

.patient-center-panel {
    margin: 1% 0;
}
