
/* #medicines-calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 50vh;
    background: #f1f1f1;
    margin: auto;
    padding: 5%;
    border: 2px solid black;
    box-sizing: border-box;
} */


#medicines-calendar-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    margin: auto;
    max-height: 70vh;
    width: 60vw;
    overflow: auto;
}


#medicines-calendar-container > .modal-header {
    width: 100%;
}


#medicines-calendar {
    /* border: 3px dotted blue; */
    width: 100%;
}

#medicines-calendar tr th {
    text-align: center;
    /* padding: 0.4em; */
    width: 30px;
    background: #8E352E;
    font-weight: bold;
    color: white;
}


#medicines-calendar th, #medicines-calendar td  {
    border: 2px solid rgba(110, 110, 110, 0.75);
}

#medicines-calendar td .medicines-calendar-cellcontent{
    white-space: pre-line;
    min-height: 14vh;
    max-height: 30vh;
    overflow: auto;
}

.medicines-calendar-item {
    background-color: lightgreen;
    cursor: pointer;
    border-radius: 10px;
    margin: 1%;
    padding: 5%;
    box-sizing: border-box;
}

.medicines-calendar-item:hover {
    background-color: rgb(131, 255, 131);
}

.medicines-calendar-cellcontent-edit {
    margin: auto;
    background: lightblue;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
}

.medicines-calendar-cellcontent-edit:hover {
    background-color: rgb(122, 201, 228)
}