<div id="medicines-calendar-container" class="container-element green-accent">
    <div class='modal-header'>
        <h3>Medicamentos Semanales</h3>
        <button type="button" class="close"
            data-dismiss="modal" (click)="closeModal()">&times;</button>
    </div>
    <table id="medicines-calendar" class="table table-striped">
        <tr>
            <th *ngFor="let day of weekDays">
                {{day}}
            </th>
        </tr>
        <tbody>
            <tr>
                <td *ngFor="let dayMedicines of weekMedicines">
                    <div class="medicines-calendar-cellcontent">
                        <div *ngFor="let medicine of dayMedicines.medicines" (click)="showDetails(medicine.data)">
                            <div class="medicines-calendar-item">
                                {{medicine.at}}: {{medicine.data.name}}
                            </div>
                        </div>
                        <div class="medicines-calendar-cellcontent-edit" (click)="editDayMedicines(dayMedicines)">
                            Editar
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>