

<div id="medic-patients-container" class="container-element green-accent">
    <div (click)="goBack()" class="back-button">
        <i class="fa fa-arrow-left"></i>
    </div>
    <h3>Lista de pacientes</h3>
    <div id="patientList">
        <div *ngFor="let patient of patientList" class="patient">
            {{patient.username}}
            {{patient.email}}
            <div id="actions">
                <i class="fa fa-archive" (click)="goToInfo(patient)"></i>
                <i class="fas fa-user" (click)="goToProfile(patient)"></i>
            </div>
        </div>
    </div>
</div>