

#medic-patients-container {
    width: 90%;
    min-height: 93vh;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    margin: auto;
    overflow: auto;
}

#medic-patients-container h3 {
    text-align: center;
    border-bottom: solid thick rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    padding-bottom: 1%;
    box-sizing: border-box;
    margin-bottom: 1%;
}


.patient {
    display: flex;
    justify-content: space-around;
    padding: 0.5%;
    padding-left: 2%;
    border: solid 2px #3b8f84;
    border-radius: 20px;
    margin: 2% 5%;
    overflow: auto;
}


.patient i{
    cursor: pointer;
}

#actions {
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}