

<div id="medic-patientInfo-container" class="container-element green-accent">
    <div (click)="goBack()" class="back-button">
        <i class="fa fa-arrow-left"></i>
    </div>
    <h3>Nombre: {{patient.username}} - Contacto: {{patient.email}}</h3>

    <aside>
        <button id="dieta-toggle" type="button" class="btn btn-primary"
            (click)="showDiet()"
        >
            Dieta
        </button>
        <button id="activity-toggle" type="button" class="btn btn-primary"
            (click)="showActivity()"
        >
             Actividad
        </button>

        <div id="dropdown-select">
            <ng-multiselect-dropdown
             [placeholder]="'Registros'"
             [settings]="dropdownSettings"
             [data]="registeredDisorders"
             (onSelect)="select($event)"
             (onDeSelect)="deselect($event)"
             (onSelectAll)="selectAll($event)"
             (onDeSelectAll)="deselectAll()"
            >
            </ng-multiselect-dropdown>
        </div>
            
        <div id="medicines-panel">
            <h4>Medicinas</h4>
            <div class="medicines-actions">
                <i class="far fa-calendar actions-item" (click)="medicinesCalendar()"></i>
                <i class="fas fa-edit actions-item" (click)="editMedicines()"></i>
            </div>
            <hr/>
            <ng-template #noMedicines>
                Sin medicamentos
            </ng-template>
            <ng-template #loading>
                <div class="spinner-container">
                    <ngx-spinner [fullScreen]="false" [name]="'loading'" type="ball-clip-rotate-multiple" size="medium">
                    </ngx-spinner>
                </div>
            </ng-template>
    
    
            <ng-container *ngIf="patient.medicines.length !== 0 else noMedicines">
                <div id="medicines">
                    <ng-container *ngIf="medicines.length !== 0 else loading">
                        <div *ngFor="let medicine of medicines" class="medicine" (click)="showDetails(medicine)">
                            {{medicine.name}}
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </aside>



    <div id="content">
        <div class="patient-data-container">
            <h4 *ngIf="dietRef">Comidas semanales</h4>
            <ng-template #dietCont></ng-template>
        </div>
        <div class="patient-data-container"
            [ngClass]="{'mt-4': dietRef}"
        >
            <h4 *ngIf="activityRef">Actividades semanales</h4>
            <ng-template #activityCont></ng-template>
        </div>
        <div class="patient-data-container" [ngClass]="{'mt-4': dietRef || activityRef}">
            <h4 *ngIf="patientRegisters.length !== 0">Registros</h4>
            <!-- <div class="patient-registers-container">
                <ng-template #registersCont></ng-template>
            </div> -->
            <div class="patient-register-container" *ngFor="let register of patientRegisters">
                <app-tracking [registerID]="register"></app-tracking>
            </div>
        </div>
    </div>

</div>
