<h1>dentro del modal de diario</h1>
{{patient | json}}
{{day | json}}
{{editable}}


<div>
    <div class='modal-header'>
        <h3>Registros del dia</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
    </div>
    <div>
        <div *ngFor="let register of day.logs">
            {{register.timestamp | date: "shortTime"}} - {{register.data}}mg/dl
        </div>
    </div>
    <div *ngIf="editable">
        <form #addForm="ngForm" (ngSubmit)="addRegister(addForm.value)">
            <input type="number" name="data" ngModel>
            <timepicker ngModel name="hour" [showSeconds]="true" [showMeridian]="false"></timepicker>
            <ng-multiselect-dropdown
            [placeholder]="'Tiempo no especificado'"
            [settings]="dropdownSettings"
            [data]="atList"
            ngModel
            name="at"
            >
        </ng-multiselect-dropdown>
            <button type="submit">Registrar</button>
        </form>
    </div>
</div>