
<div>
    <form #medicinesForm=ngForm (ngSubmit)="searchMedicines(medicinesForm)">
        <input type="text" name="medicine" ngModel>
        <button>Buscar</button>
        <i>Fuente de la información: Agencia Española de Medicamentos y Productos Sanitarios
            <a href="https://www.aemps.gob.es/" target="_blank">www.aemps.gob.es</a>.</i>
    </form>

    <ng-container *ngIf="searched">
        <div id="results" *ngIf="results.length !== 0 else noResults">
            <div [style.color]="'red'">
                Agefir aquí l'hora a la que s'han rebut les dades.
                Es un requisit per fer servir l'API de CIMA!!!
            </div>
            <div *ngFor="let result of results" [attr.data-nregistro]="result.nregistro" class="results-item">
                <div class="icon">
                    <i class="fa fa-plus" (click)="emitMedicine(result)"></i>
                </div>
                <div (click)="showDetails(result)">
                    {{result.name}}
                </div>
            </div>
        </div>
        <ng-template #noResults>
            <h1>No se ha encontrado ningún medicamento</h1>
        </ng-template>
    </ng-container>
</div>