
#patient-search-container {
    width: 90%;
    height: 90%;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    border-radius: 20px;
    margin: auto;
    overflow: auto;
}

#patient-search-container h3 {
    text-align: center;
    border-bottom: solid thick rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    padding-bottom: 1%;
    box-sizing: border-box;
    margin-bottom: 1%;
}

.search-subcontainer {
    position: relative;
    top: 2%;
    display: flex;
    justify-content: space-evenly;
    height: 85%;
}

#search-form-container {
    width: 30%;
}

#search-results-container {
    width: 60%;
    height: 100%;
    padding: 2%;
    background: pink;
    box-sizing: border-box;
}

.user-search-result {
    padding: 1%;
    margin: 1%;
    background: lightblue;
}