<div>
    <article>
        <h3>
            Bienvenido a Helke! <br>
        </h3>
        <p>
            A continuación llevaremos a cabo un pequeño tutorial para poder empezar a usar todo el entorno Helke.<br>
            Para comenzar a usar Helke habrá será necesario crease una cuenta en la applicación, la creación de dicha
            deberá de solicitarse al desarrollador Albert Baiges por motivos de seguridad y validación de autenticidad.
            <br>
            Una vez le hayan facilitado el usuario ya podemos acceder mediante la pantalla de login.
        </p>
        <h4>Aplicación Web</h4>
        <p>
            Una vez se ha accedido a la aplicación web se podrán observar diferentes paneles
            cada uno con un fin y que a continuación se detallarán.
        </p>
        <ul>
            <li>
                <h4>Pacientes</h4>
                <p>
                    En esta zona podremos observar el listado de pacientes con los que hemos establecido relación
                    (hemos aceptado su petición o nos han aceptado una petición enviada por nosotros).
                </p>
            </li>
            <li>
                <h4>Médicos</h4>
                <p>
                    En esta zona podremos observar el listado de centros médicos con los que hemos establecido relación
                    (hemos aceptado su petición o nos han aceptado una petición enviada por nosotros) o 
                    de quienes hemos creado la cuenta de usuario.
                </p>
            </li>
            <li>
                <h4>Notificaciones</h4>
                <p>
                    En esta zona podremos observar las notificaciones de nuestra cuenta. Donde en la primera sección
                    de peticiones podremos observar las peticiones de relación que nos han enviado otros usuarios
                    y podremos aceptarlas haciendo click en <i class="fas fa-user-check"></i> o rechazarlas con un click
                    mediante un click en <i class="fas fa-user-times"></i>. <br>
                    A continuación, podemos observar la zona de acutalizaciones que estará disponible en un futuro 
                    en donde se nos mostrarán notificaciones de hecho importantes.
                </p>
            </li>
            <li>
                <h4>Perfil</h4>
                <p>
                    En esta zona podremos llevar a cabo moficaciones de nuestro perfil,
                    tanto como los datos de la cuenta comoo la contraseña de acceso. <br>
                </p>
            </li>
            <li>
                <h4>Buscar pacientes y médicos</h4>
                <p>
                    En esta zona podremos llevar a cabo busquedas de usuarios dentro de la red Helke 
                    y así poder enviar peticiones de relación. <br>
                    Actualmente no se permite enviar peticiones de relación a otros usuarios con el mismo
                    tipo de perfil, por lo que no se podrán enviar peticiones de relación a otros centros.
                </p>
            </li>
            <li>
                <h4>Crear cuenta Médico</h4>
                <p>
                    En esta zona podremos dar de alta un usuario médico con el que además 
                    de pasará a tener una relación de forma automatica.
                </p>
            </li>
        </ul>
    </article>
</div>