
/* #menu-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5% 0;
    height: 100%;
    overflow: auto;
} */

#medic-menu-options {
    display: grid;
    /* grid-template-columns: repeat(4, 15%); */

    grid-template-columns: repeat(auto-fit, 20%);
    grid-auto-rows: 15vw;
    gap: 5em;
    justify-content: center;
    
    
    /* grid-auto-rows: 14.25vw; */
    /* gap: 6.25%; */
}

.box-option {
    width: 100%;
    background-color: white;
    border-top: solid 5px rgb(0, 132, 255);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 10px  20px 2px gray;
    font-size: 1.75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(27, 45, 46);
    cursor: pointer;
    transition: background-color 1s;
    user-select: none;
    padding: 10%;
    box-sizing: border-box;
}


.search-box {
    grid-column: 2 / span 2;
}

.red-accent {
    border-color: #ff1e00;
}

.green-accent {
    border-color: #008001;
}

.gray-accent {
    border-color: #8f8f8f;
}

.purple-accent {
    border-color: #8400ff;
}

.box-option:hover {
    background-color: rgba(189, 182, 255, 0.315);
}

.box-option-icon {
    font-size: 2em;
    color: rgba(126, 126, 126, 0.7);
    margin-bottom: 1%;
}


@media screen and (max-width: 1366px) {
    #medic-menu-options {
        grid-template-columns: repeat( auto-fill, 25%);
        grid-auto-rows: 20vw;
        gap: 3em;
    }
}



@media screen and (max-width : 768px) {
    #medic-menu-options {
        grid-template-columns: 1fr;
        gap: 1.5em;
        padding: 5%;
    }

    .search-box {
        grid-column: auto;
    }
}