

#application-topbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4%;
    background: rgb(114, 77, 216);
    color: white;
    font-size: 1.5em;
    margin-bottom: 1.5%;
}

#application-topbar > div {
    user-select: none;
}


.bar-button {
    /* position: absolute; */
    padding: 0 2%;
    user-select: none;
    cursor: pointer;
}

.bar-button:hover {
    background: rgb(132, 123, 214);
}

/* #logout {
    right: 10%;
}


#feedback-button {
    left: 10%;
} */