<div id="patient-editMedicines-container" class="container-element green-accent">
    <div class='modal-header'>
        <h3 class="modal-title">Medicamentos</h3>
    </div>
    <div id="current-medicines">
        <div *ngFor="let medicine of medicines" class="medicine">
            <i class="fas fa-trash" (click)="removeMedicine(medicine)"></i>
            {{medicine.name}}
        </div>
    </div>

    <div id="search-medicines-container">
        <h4>Buscar medicamentos</h4>
        <app-search-medicines (medicine)="addMedicine($event)"></app-search-medicines>
    </div>
    <div id="buttons">
        <button type="button" class="btn btn-success" (click)="promptApply(askApply)">Aplicar</button>
        <button type="button" class="btn btn-danger" (click)="promptDiscard(askDiscard)">Cancelar</button>
    </div>

    <ng-template #askApply>
        <div class="popup-dialog">
            Quieres aplicar los cambios?
        </div>
        <button type="button" class="btn btn-default" (click)="apply()">Sí</button>
        <button type="button" class="btn btn-primary" (click)="cancel()">Cancelar</button>
    </ng-template>

    <ng-template #askDiscard>
        <div class="popup-dialog">
            Quieres descartar los cambios?
        </div>
            <button type="button" class="btn btn-default" (click)="discard()">Sí</button>
            <button type="button" class="btn btn-primary" (click)="cancel()">Cancelar</button>
    </ng-template>
</div>