

<div id="generic-activityplan-container">
    <table id="activity-calendar" class="table table-striped">
        <tr>
            <th *ngFor="let day of weekDays">
                {{day}}
            </th>
        </tr>
        <tbody>
            <tr>
                <td *ngFor="let dayActivities of weekActivities">
                    <div>{{dayActivities.activities}}</div>
                    <button class="btn btn-info mt-2 generic-activityplan-viewer" (click)="editDayActivities(dayActivities.day)">
                        Ver
                    </button>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>