

#generic-activityplan-container {
    height: 100%;
}

#activity-calendar {
    table-layout: fixed;
    width: 100%;
}

#activity-calendar tr th {
    text-align: center;
    width: 10%;
    background: #8E352E;
    font-weight: bold;
    color: white;
}

#activity-calendar th, #activity-calendar td  {
    border: 2px solid rgba(110, 110, 110, 0.466);

}


#activity-calendar td:hover {
    background: #c7c7c7;
}

#activity-calendar td div:first-child {
    height: 400px;
    overflow: auto;
}

.generic-activityplan-viewer {
    width: 100%;
}