
<div id="center-menu-options">
    <div class="box-option blue-accent patients" (click)="goTo('/center/patients')">
        <i class="fas fa-users"></i>
        Pacientes
    </div>
    <div class="box-option green-accent medics" (click)="goTo('/center/medics')">
        <i class="fas fa-user-md"></i>
        Medicos
    </div>
    <div class="box-option green-accent" (click)="goTo('/center/profile')">
        <i class="fas fa-hospital"></i>
        Perfil
    </div>
    <div class="box-option purple-accent add-user" (click)="goTo('/center/medics')">
        <i class="fas fa-user-plus"></i>
        Asociar Medico
    </div>
    <div class="box-option purple-accent create-user" (click)="goTo('/center/medics')">
        <i class="fas fa-user-cog"></i>
        Crear Cuenta Medico
    </div>
</div>