
<div id="center-menu-options">
    <div class="box-option blue-accent patients" (click)="goTo('/center/patients')">
        <i class="fas fa-users box-option-icon"></i>
        Pacientes
    </div>
    <div class="box-option green-accent medics" (click)="goTo('/center/medics')">
        <i class="fas fa-user-md box-option-icon"></i>
        Medicos
    </div>
    <div class="box-option green-accent" (click)="goTo('/center/profile')">
        <i class="fas fa-hospital box-option-icon"></i>
        Perfil
    </div>
    <div class="box-option purple-accent search-box" (click)="goTo('/center/search')">
        <i class="fas fa-search box-option-icon"></i>
        Buscar pacientes y medicos
    </div>
    <div class="box-option purple-accent create-user" (click)="goTo('/center/medics')">
        <i class="fas fa-user-cog box-option-icon"></i>
        Crear Cuenta Medico
    </div>

</div>