
#patient-meals-container {
    width: 90%;
    min-height: 93vh;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    margin: auto;
    overflow: auto;
}

#patient-meals-container h3 {
    text-align: center;
    border-bottom: solid thick rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    padding-bottom: 1%;
    box-sizing: border-box;
}

#week-meals {
    margin-top: 2%;
    height: 80%;
}