/* You can add global styles to this file, and also import other style files */

body {
    background: #F3F2EF;
    height: calc(100vh - 2*8px);
    box-sizing: border-box;
    font-size: 16px;
}


.panel.medic-panel {
    color: black;
    border: 2px solid black;
    border-radius: 20px;
}

.panel .btn-link {
    color: black;
    text-decoration: none;
}

.panel.medic-panel .panel-body{
    background-color: rgb(230, 230, 230);
    border-radius: 0 0 20px 20px;
}