/* You can add global styles to this file, and also import other style files */

body {
    background: #f2eff3;
    height: calc(100vh - 2*8px);
    box-sizing: border-box;
    font-size: 16px;
}

.back-button {
    cursor: pointer;
    background: #cccccc;
    display: inline;
    padding: 0.5%;
    border-radius: 50%;
}




.panel.medic-panel {
    color: black;
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
}

.panel .btn-link {
    color: black;
    text-decoration: none;
}

.panel.medic-panel .panel-body{
    background-color: rgb(230, 230, 230);
}

.container-element {
    background-color: white;
    border-radius: 20px 20px 0 0 ;
    box-shadow: 0 10px  20px 2px gray;
    box-sizing: border-box;
}

.container-element h3 {
    color: #5a5656;
}


.orange-accent {
    border-color: #ff9900;
}

.red-accent {
    border-color: #b61702;
}

.green-accent {
    border-color: #008001;
}

.gray-accent {
    border-color: #8f8f8f;
}

.purple-accent {
    border-color: #8400ff;
}

.blue-accent {
    border-color: #0084ff;
}



.edit-medicines-modal {
    width: 80vw !important;
    max-width: none !important;
}

.border-radius-modal .modal-content{
    border-radius: 20px !important;
}


.full-size-dropdown div div span span {
    max-width: none !important;
}