/* You can add global styles to this file, and also import other style files */

body {
    background: #F3F2EF;
    height: calc(100vh - 2*8px);
    box-sizing: border-box;
    font-size: 16px;
}


.panel.medic-panel {
    color: black;
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
}

.panel .btn-link {
    color: black;
    text-decoration: none;
}

.panel.medic-panel .panel-body{
    background-color: rgb(230, 230, 230);
}

.container-element {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px  20px 2px gray;
    box-sizing: border-box;
}


.red-accent {
    border-color: #b61702;
}

.green-accent {
    border-color: #008001;
}

.gray-accent {
    border-color: #8f8f8f;
}

.purple-accent {
    border-color: #8400ff;
}

.blue-accent {
    border-color: #0084ff;
}