

<div>
    <div (click)="goBack()" class="back_button">
        <i class="fa fa-arrow-left"></i>
    </div>

    <table *ngIf="tracking" id = "calendar">
        <caption>{{months[date.getMonth()] + " " + date.getFullYear()}}</caption>
        <thead>
            <tr>
                <th *ngFor="let day of weekdays">{{day}}</th>
            </tr>
        </thead>
        <tr *ngFor="let week of register">
            <td *ngFor="let day_lectures of week">
                <div *ngIf="day_lectures">
                    <div>
                        {{day_lectures[0].data}}
                        {{day_lectures[0].date | date: "mediumTime"}}
                    </div>
                    <div>
                        {{day_lectures[1].data}}
                        {{day_lectures[1].date | date: "mediumTime"}}
                    </div>
                    <div>
                        {{day_lectures[2].data}}
                        {{day_lectures[2].date | date: "mediumTime"}}
                    </div>
                </div>
            </td>
        </tr>
        <!--5 table rows make a month-->
    </table>

</div>


