
#center-signmedic-container {
    position: relative;
    width: 90%;
    height: 90%;
    padding: 2%;
    border-top-style: solid;
    border-top-width: 10px;
    border-radius: 20px;
    margin: auto;
    overflow: auto;
}

#center-signmedic-container h3 {
    text-align: center;
    border-bottom: solid thick rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    padding-bottom: 1%;
    box-sizing: border-box;
    margin-bottom: 1%;
}

#center-medicform-container {
    position: absolute;
    top: 50%;
    width: calc(100% - 2 * 2%);
    transform: translateY(-50%);
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #2f8894 !important;
    border: none;
}

.btn-primary:hover {
    background-color: #3999b6 !important;
}
