
<div id="center-signmedic-container" class="container-element blue-accent">
    <div (click)="goBack()" class="back-button">
        <i class="fa fa-arrow-left"></i>
    </div>
    <h3>Registrar médico</h3>
    <div id="center-medicform-container">
        <form #registerForm="ngForm" (ngSubmit)="registerMedic(registerForm.value)" class="form-group">
            <label for="username">Nombre de usuario:</label>
            <input ngModel #username="ngModel" required name="username" class="form-control form-control-lg mb-2" type="text" placeholder="Nombre Usuario">
            <label for="email">Correo electrónico</label>
            <input ngModel #email="ngModel" required name="email" class="form-control form-control-lg mb-2" type="text" placeholder="Email"
                email
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
            >
            <div class="alert alert-danger" *ngIf="email.touched && email.errors?.pattern">
                Email invalido
            </div>
            <div class="alert alert-danger" *ngIf="showEmailTaken">
                Este correo electronico ya está en uso
            </div>
            <label for="password">Contraseña</label>
            <input ngModel #password="ngModel" required name="password" class="form-control form-control-lg mb-2"  type="password" placeholder="Contraseña"
                pattern="^(?=.*[A-Z])(?=.*\d)[\w]{8,}$"
            >
            <div class="alert alert-danger" *ngIf="password.errors?.pattern">
                La constraseña debe contener un minimo de 8 caracteres con minimo una letra mayuscula 
                y miniscula
            </div>
            <label for="repeat_password">Repetir Contraseña</label>
            <input ngModel #repeatedPassword="ngModel" required name="repeat_password" class="form-control form-control-lg mb-3" type="password" placeholder="Repetir Contraseña">
            <div class="alert alert-danger" *ngIf="repeatedPassword.touched && password.value !== repeatedPassword.value">
                Las contraseñas no coinciden
            </div>
            <button type="submit"
                class="btn btn-primary w-100"
                [disabled]=" username.errors?.required 
                || email.errors?.required || email.errors?.pattern 
                || !password.value || password.errors?.pattern 
                || password.value !== repeatedPassword.value"
            >
                Registrar
            </button>
        </form>
    </div>

</div>
