

<div id="generic-mealplan-container">
    <table id="weekCalendar" class="table table-striped" (click)="editSlot($event)">
        <tr>
            <th></th>
            <th *ngFor="let day of weekDays">
                {{day}}
            </th>
        </tr>
        <tbody>
            <tr>
                <td>
                    <div>
                        Desayunos
                    </div>
                </td>
                <td *ngFor="let breakfast of weekMeals.breakfasts; let i = index">
                    <div [attr.data-day]="weekDaysEn[i]" [attr.data-zone]="'breakfast'">
                        {{breakfast}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        Comidas
                    </div>
                </td>
                <td *ngFor="let lunch of weekMeals.lunches; let i = index">
                    <div [attr.data-day]="weekDaysEn[i]" [attr.data-zone]="'lunch'">
                        {{lunch}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        Cenas
                    </div>
                </td>
                <td *ngFor="let dinner of weekMeals.dinners; let i = index">
                    <div [attr.data-day]="weekDaysEn[i]" [attr.data-zone]="'dinner'">
                        {{dinner}}
                    </div>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>