<div>
    <article>
        <h3>
            Bienvenido a Helky! <br>
        </h3>
        <p>
            A continuación llevaremos a cabo un pequeño tutorial para poder empezar a usar todo el entorno Helky.<br>
            Para comenzar a usar Helky será necesario crease una cuenta en la aplcación, la creación de dicha
            deberá de solicitarse a un administrador o a uno de los centros médicos a los que pertenezca y
            que esté dado en alta en la aplicación, esto por motivos de seguridad y validación de autenticidad.
            <br>
            Una vez le hayan facilitado el usuario ya podemos acceder mediante la pantalla de login.
        </p>
        <h4>Aplicación Web</h4>
        <p>
            Una vez se ha accedido a la aplicación web se podrán observar diferentes paneles
            cada uno con un fin y que a continuación se detallan.
        </p>
        <ul>
            <li>
                <h4>Pacientes</h4>
                <p>
                    Es esta zona podremos observar el listado de pacientes que tenemos asignados y haciendo
                    click en el icono de datos <i class="fa fa-archive"></i> podremos acceder a consultar el
                    paciente en más detalle. <br>
                    Una vez dentro podremos encontrar las siguientes secciones que a continuación se detallan <br>
                </p>
                <ul>
                    <li>
                        <h5>Botón de Dieta</h5>
                        <p>
                            Al hacer click sobre el botón de dieta podremos observar las dietas (menús)
                            que sería conveniente que el paciente siguiera cada día, donde
                            las filas indican la comida a la que pertenece el menú y las columnas el día de la semana.
                            Si queremos observar una comida en más detalle al mismo tiempo que observar los comentarios
                            de dicha dieta se deberá de hacer click sobre la casilla en cuestión. <br>
                            Una vez hecho click podremos observar una pantalla emergente en la que se nos muestra el menú
                            y los comentarios. <br>
                            En el caso de querer modificar ya sea el menú o los comentarios se deberá de hacer click
                            sobre el
                            lápiz <i class="fas fa-edit"></i> que podemos observar
                            al lado derecho sobre el menú para desbloquear los campos y así poder
                            modificarlos. <br>
                            Una vez hechos los cambios podremos aplicarlos haciendo click sobre el tick
                            <i class="fas fa-check"></i> para que se apliquen o podemos dar click
                            sobre <i class="fas fa-times"></i> para descartarlos.
                            Finalmente podemos cerrar la ventana emergente y en el caso de haber añadido un menú o haber
                            modificado el anterior, se podrá observar esta nueva información en el calendario semanal.
                        </p>
                    </li>
                    <li>
                        <h5>Botón de Actividad</h5>
                        <p>
                            Al hacer click sobre el botón de dieta podremos observar actividades físicas
                            que sería conveniente que el paciente siguiera cada día, y
                            en el caso de querer ver los comentarios de estas actividades o querer editar tanto
                            las actividades como los comentarios deberemos de hacer click sobre el botón de
                            <strong>ver</strong> del día.
                            Una vez hecho click podremos observar en detalle la información de las actividades físicas
                            al mismo tiempo que sus comentarios. <br>
                            En el caso de querer modificar alguno de estos campos será necesario hacer click sobre el
                            botón
                            de editar <i class="fas fa-edit"></i> para que se desbloquee el contenido de las casillas.
                            <br>
                            Una vez hayamos realizado los cambios convenientes podremos ya sea aplicar estos cambios
                            haciendo click sobre el tick <i class="fas fa-check"></i> o descartarlos
                            mediante un click sobre la cruz <i class="fas fa-times"></i>
                            Finalmente podemos cerrar la ventana emergente y en el caso de haber añadido ejercicios
                            nuevos o haber
                            modificado los anteriores, se podrá observar esta nueva información en el calendario
                            semanal. <br>
                        </p>
                    </li>
                    <li>
                        <h5>Listado de registros</h5>
                        <p>
                            Al hacer click sobre el desplegable de registros ubicado a la izquierda de la pantalla
                            podremos observar el listado de patologías para las cuales el paciente estaba llevando
                            a cabo un registro. Al seleccionar una de ellas podremos observar
                            un calendario donde se nos mostrará por cada día del mes
                            los registros que el paciente ha introducido y podremos navegar entre meses, mediante las
                            flechas
                            que aparecen al lado del calendario. Destacar que esta navegación entre meses unicamente
                            se puede realizar entre enero del año 2021 y el mes actual. <br>

                            Para poder ver los registros en más detalle deberemos de hacer click sobre el día del
                            mes que deseemos. <br>

                            Una vez hecho click se nos mostrará una pantalla emergente donde veremos los registros
                            creados para ese día los cuales siguen un código de colores dependiendo del momento en el
                            que
                            se han creado (antes/después de comer, antes/después actividad física, otro) con el
                            fin de facilitar la identificación. <br>
                        </p>
                    </li>
                    <li>
                        <h5>Listado de medicamentos</h5>
                        <p>
                            En la parte inferior izquierda podremos observar el listado de medicamentos que
                            tiene asignados el paciente y si hacemos click
                            sobre cualquiera de ellas se nos mostrará información más detalla como
                            el nombre, el número de registro y la imágen de la caja del médicamento en caso de estar
                            disponible.
                            <br>
                        </p>
                        <h6>Modificar medicamentos</h6>
                        <p>
                            En el caso de querer modificar los medicamentos asignados deberemos de hacer click sobre el
                            lápiz
                            <i class="fas fa-edit"></i>. <br>
                            Una vez hecho click podremos observar una pantalla emergente con dos zonas resaltadas,
                            buscar medicamentos que nos permite realizar búsquedas de medicamentos y la de la derecha
                            que nos muestra los medicamentos que tenemos actualmente asignados. <br>

                            En la zona de la izquierda (Buscar medicamentos) podremos realizar búsquedas por nombre,
                            número de registro
                            o código nacional del medicamento en España. <br>
                            Una vez realizada la búsqueda y se hayan obtenido resultados, los cuales podemos
                            inspeccionar
                            haciendo click sobre ellos y posteriomente podremos añadir los deaseados a 
                            la lista de medicamentos del paciente 
                            con un simple
                            click en el <i class="fa fa-plus"></i> que hay a su lado. <br>

                            Una vez hecho click podremos observar como este medicamento ha pasado a la lista de
                            medicamentos actuales,
                            es esta zona a parte de poder observar todos los medicamentos que tenemos asignados también
                            podremos eliminar
                            aquellos medicamentos que deseemos con un simple click en la papelera
                            <i class="fas fa-trash"></i> que tienen a su lado. <br>

                            Finalmente, una vez hayamos realizado los cambios que vemos convenientes deberemos de hacer
                            click
                            en el botón de aplicar si queremos que estos cambios se apliquen o por si lo contrario
                            queremos cancelar toda la operación podemos hacer click en el botón de cancelar y nada de lo
                            hecho será aplicado. <br>
                        </p>
                        <h6>Modificar pauta de medicamentos</h6>
                        <p>
                            Si queremos tanto ver como añadir medicamentos al plan de medicación semanal, horas de
                            medicación,
                            del paciente deberemos de hacer click sobre el calendario <i class="far fa-calendar"></i>
                            que podemos encontrar sobre el listado de medicamentos. <br>
                            Una vez hecho click podremos observar un calendario semanal donde se nos mostrarán los
                            medicamentos,
                            y las horas a las que se deben de tomar, en el caso de haber realizado una asignación de
                            horas. <br>
                            Para poder asignar horas o modificar las horas actuales deberemos de hacer click sobre el
                            botón
                            <strong>editar</strong> que podemos encontrar en la parte superior de cada día de la semana.
                            <br>

                            Una vez hecho click en la parte superior podremos observar los medicamentos y las
                            respectivas horas
                            de su consumo que tenemos aplicados actualmente. <br>
                            En el caso querer eliminar la hora de unas de las dosis esto se podrá realizar con un simple
                            click
                            en la papelera <i class="fas fa-trash"></i> que podemos encontrar a su lado. <br>
                            En el caso de querer añadir horas de un medicamento podremos hacer uso de la parte inferior
                            de la
                            pantalla emergente. <br>
                            Para poder añadir la hora de un medicamento primero deberemos seleccionar el medicamento
                            con la ayuda del desplegable, importante destacar que unicamente se mostrarán los
                            medicamentos que tenemos
                            añadidos a nuestro plan de medicación por lo que si queremos asignar un plan de medicación a
                            cierto
                            medicamento primero deberemos de asegurarnos de que este se encuentre en la lista de
                            medicamentos asignados. <br>
                            Una vez seleccionado el medicamento deseado, a continuación se nos mostrará un selector de
                            horas al igual
                            que una pequeña vista previa del medicamento en cuestión. <br>
                            Para añadir las horas deberemos de introducir la hora deseada en el selector de hora y darle
                            a añadir hora
                            para que esta hora se tenga en cuenta y aparezca en la lista de horas seleccionadas. A
                            continuación,
                            para añadir más horas deberemos de introducir nuevamente las horas en el selector de horas o
                            podemos hacer uso de la rueda del ratón/flechas del selector para realizar saltos de 6h
                            desde la hora introducida, esto con el fin de facilitar la introducción de medicaciones que
                            deben de consumirse varias veces al día y cada 6h. <br>
                            Una vez tengamos seleccionadas toras las horas deseadas del medicamento y estas aparezcan en
                            la lista
                            de horas seleccionadas podremos hacer click en el botón de añadir al calendario para que
                            estas pasen
                            al listado de medicinas superior. <br>

                            <strong>
                                Es importante que si queremos que estos cambios se apliquen, ya sea después de añadir o
                                eliminar
                                horas de uno o varios medicamentos se de click sobre el botón de aplicar cambios.
                            </strong>
                        </p>
                    </li>
                    <li>
                        <h4>Notificaciones</h4>
                        <p>
                            En esta zona podremos observar las notificaciones de nuestra cuenta. Donde en la primera
                            sección
                            de peticiones podremos observar las peticiones de relación que nos han enviado otros
                            usuarios
                            y podremos aceptarlas haciendo click en <i class="fas fa-user-check"></i> o rechazarlas con
                            un click
                            mediante un click en <i class="fas fa-user-times"></i>. <br>
                            Una vez agregado un paciente este aparecerá en la zona de pacientes y podremos consultar
                            todos sus datos (dietas, medicamentos, actividades físicas y registros).
                            A continuación, podemos observar la zona de actualizaciones que estará disponible en un
                            futuro
                            y donde se nos mostrarán notificaciones de hechos importantes.
                        </p>
                    </li>
                    <li>
                        <h4>Perfil</h4>
                        <p>
                            En esta zona podremos llevar a cabo modificaciones de nuestro perfil,
                            tanto como los datos de la cuenta como la contraseña de acceso. <br>
                        </p>
                    </li>
                    <li>
                        <h4>Centros Médicos</h4>
                        <p>
                            En esta zona podremos observar el listado de centros médicos con los que hemos establecido
                            relación
                            (hemos aceptado su petición o nos han aceptado una petición enviada por nosotros) o
                            es el centro que nos creado la cuenta de usuario.
                        </p>
                    </li>
                    <li>
                        <h4>Buscar pacientes y centros</h4>
                        <p>
                            En esta zona podremos llevar a cabo búsquedas de usuarios dentro de la red Helky
                            y así poder enviar peticiones de relación. <br>
                            Actualmente no se permite enviar peticiones de relación a otros usuarios con el mismo
                            tipo de perfil, por lo que no se podrán enviar peticiones de relación a otros médicos.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </article>
</div>