
<div id="menu-options">
    <div class="box-option red-accent" (click) = "goTo('/home/mealplan')">
        Dietas
    </div>
    <div class="box-option green-accent" (click) = "goTo('/home/medicines')">
        Medicamentos
    </div>
    <div class="box-option" (click) = "goTo('/home/registers')">
        Registros
    </div>
    <div class="box-option" (click) = "goTo('/profile')">
        Perfil
    </div>
    <div class="box-option green-accent" (click) = "goTo('/home/medics')">
        Medicos
    </div>
    <div class="box-option gray-accent" (click) = "goTo('/home/centers')">
        Centros Medicos
    </div>
    <div class="box-option purple-accent search-box" (click) = "goTo('/profile')">
        Buscar medicos y centros
    </div>
</div>