
<div id="menu-options">
    <div class="box-option red-accent" (click)="goTo('/home/mealplan')">
        <i class="fas fa-utensils box-option-icon"></i>
        Dietas
    </div>
    <div class="box-option green-accent" (click)="goTo('/home/medicines')">
        <i class="fas fa-pills box-option-icon"></i>
        Medicamentos
    </div>
    <div class="box-option" (click)="goTo('/home/registers')">
        <i class="fas fa-table box-option-icon"></i>
        Registros
    </div>
    <div class="box-option" (click)="goTo('/home/profile')">
        <i class="fas fa-user box-option-icon"></i>
        Perfil
    </div>
    <div class="box-option green-accent" (click)="goTo('/home/medics')">
        <i class="fas fa-stethoscope box-option-icon"></i>
        Medicos
    </div>
    <div class="box-option gray-accent" (click)="goTo('/home/centers')">
        <i class="fas fa-clinic-medical box-option-icon"></i>
        Centros Medicos
    </div>
    <div class="box-option purple-accent search-box" (click)="goTo('/home/search')">
        <i class="fas fa-search box-option-icon"></i>
        Buscar medicos y centros
    </div>
</div>