
<div id="menu-options">
    <div class="box-option red-accent" (click) = "goTo('/home/mealplan')">
        Dietas
    </div>
    <div class="box-option green-accent" (click) = "goTo('/home/medicines')">
        Medicamentos
    </div>
    <div class="box-option" (click) = "goTo('/home/registers')">
        Registros
    </div>
    <div class="box-option" (click) = "goTo('/profile')">
        Perfil
    </div>
    <div class="box-option green-accent" (click) = "goTo('/home/medics')">
        Medicos
    </div>
    <div class="box-option gray-accent" (click) = "goTo('/profile')">
        Centros Medicos
    </div>
    <div class="box-option purple-accent" (click) = "goTo('/profile')">
        Buscador
    </div>
</div>